h1{
    text-align: center;
}
body{
    background : url(https://media.istockphoto.com/photos/helping-hands-group-of-teenagers-organize-local-donation-event-picture-id503566597?b=1&k=20&m=503566597&s=170667a&w=0&h=NCJID3ZxNCNWBeIjHIeBGHWw9rKCFJAITw01pgGbrPI=);
    color:rgba(10, 10, 9, 0.986);
    background-repeat: no-repeat;
    background-size: cover;
}