<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/demoform.css'%}">    

</head>
<body>
    <h1>Student Registration Form !!</h1>
    <div class = " container" align="center">
        <form method = "post">
    {{form.as_p}} <! -- django has provided inbuild form functionality, hence we are not required write additional code -->
    {% csrf_token %}        
            <input type="Submit" class="btn btn-primary"value="Register">
        </form>
</div>
</body>
</html>

<!-- 
<body>
    <h1>Student Registration Form !!! </h1>
    <div class="container" align="center">
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="Submit" class = "btn btn-primary" value="Register">
        </form>

    </div>
</body> -->