<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/demo1.css'%}">

    <title>Document</title>
</head>
<body>
    <div class="container" align = 'center'>
    <div class="jumbotron">
        <h1 class="display-4">This is the free job portal</h1>
        <p>Continous news updates.............</p>
        <p class="lead">We have to know the daily news updates on this free job portal !!!!</p>
        <hr class="my-4">
        <p>A classic newspaper template gives a professional feel to your club’s or organization’s news This premium newspaper template in Word comes fully formatted for quick and easy changes. Its familiar layout that follows traditional newspaper formatting, with columns, headlines, bylines, captions, and more, makes this newspaper article template easy to navigate for any reader. This Word newspaper template prints on tabloid-sized paper. This is an accessible template.</p>
        <a class="btn btn-primary btn-lg" href="/moviesinfo/" role="button">Sports Information</a> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/sportsinfo/" role="button">Movies Information</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/politicsinfo/" role="button">Politics Information </a>
      </div>  
</body>
</html>