<!DOCTYPE html>
{%extends 'authapp/base.html'%}
        {%block body_block%}
        <div class="jumbotron">
            <div calss='container'></div>
                
                <h1>Sign In form to enjoy facilities !!!</h1>
                <form method="POST">
                {{form.as_p}}
                {%csrf_token%}
                <input type="Submit" class="btn btn-primary" value="Sign Up">
                
                </form>
            </div>
        </div>
        {%endblock%}