<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    h1{ 
        
        color:green
    }
   h2{
        color:blue
    }
</style>
</head>
<body>
    <h1> Hello {{name}} !!!!!...Very {{msg}}!! this is django world !!!! , Be confident & happy while learning.{{my_dict}}</h1><hr>
    <h2>current date & time of the server :{{date}}</h2>
</body>
</html>